
@{

    Layout = null;
}


<div class="text-center">
    <h2>Zaplać kartą lub poprzez konto Paypal</h2>
    
        @Html.ActionLink("Pay with Paypal Account", "PaymentWithPaypal", "Paypal", new { @class = "btn btn-primary" })
    
</div>
