   
  <div class="col-lg-9 ColorCSSStatic  hidden-sm hidden-xs" style="height:850px;">
        

        <img id="foto" src="~/Content/marek.jpg" alt="Fotografia" title="Moja Fotografia" align="right" style="margin-top:15px" />
        <h1>O mnie</h1>
        <h2 style="line-height:45px;">
            Od kiedy pamiętam zawsze interesowałem się różnymi technologiami w szczególności komputerami te zainteresowania
            zaszczepiły we mnie pasję do programowania, od dwóch lat bardzo intensywnie uczę się tworzenia aplikacji
            webowych głównie korzystając ze wzorca MVC w frameworku ASP.NET. Lubię mieć wszystko "dobrze poukładane" a ten wzorzec pozwala na tworzenie
            aplikacji w których wszystko ma swoje miejsce i wtedy właśnie kod takiej aplikacji można przeglądać z satysfakcją.
            Aktualnie kończę drugi rok studiów na Politechnice Warszawskiej o kierunku automatyka robotyka ze specjalizacja informatyka przemysłowa co dało mi sposobność
            obycia się z wieloma technologiami, jestem również w trakcie kursu firmy Microsoft "Software Development Fundamentals". Chciałbym podjąć swoją pierwszą prace junior developera.<br/>
            Zapraszam do wspóprcy!

        </h2>
    </div>


<div class="col-lg-9 ColorCSSStatic hidden-lg hidden-md  hidden-xs" style="height:1000px;">


    <img id="foto" src="~/Content/marek.jpg" alt="Fotografia" title="Moja Fotografia" align="right" style="margin-top:15px" />
    <h1>O mnie</h1>
    <h2 style="line-height:45px;">
        Od kiedy pamiętam zawsze interesowałem się różnymi technologiami w szczególności komputerami te zainteresowania
        zaszczepiły we mnie pasję do programowania, od dwóch lat bardzo intensywnie uczę się tworzenia aplikacji
        webowych głównie korzystając ze wzorca MVC w frameworku ASP.NET. Lubię mieć wszystko "dobrze poukładane" a ten wzorzec pozwala na tworzenie
        aplikacji w których wszystko ma swoje miejsce i wtedy właśnie kod takiej aplikacji można przeglądać z satysfakcją.
        Aktualnie kończę drugi rok studiów na Politechnice Warszawskiej o kierunku automatyka robotyka ze specjalizacja informatyka przemysłowa co dało mi sposobność
        obycia się z wieloma technologiami, jestem również w trakcie kursu firmy Microsoft "Software Development Fundamentals". Chciałbym podjąć swoją pierwszą prace junior developera.<br />
        Zapraszam do wspóprcy!

    </h2>
</div>

<div class="col-lg-9 ColorCSSStatic hidden-lg hidden-md hidden-sm" style="height:2800px;">


    <img id="foto" src="~/Content/marek.jpg" alt="Fotografia" title="Moja Fotografia" align="right" style="margin-top:15px" />
    <h1>O mnie</h1>
    <h2 style="line-height:45px;">
        Od kiedy pamiętam zawsze interesowałem się różnymi technologiami w szczególności komputerami te zainteresowania
        zaszczepiły we mnie pasję do programowania, od dwóch lat bardzo intensywnie uczę się tworzenia aplikacji
        webowych głównie korzystając ze wzorca MVC w frameworku ASP.NET. Lubię mieć wszystko "dobrze poukładane" a ten wzorzec pozwala na tworzenie
        aplikacji w których wszystko ma swoje miejsce i wtedy właśnie kod takiej aplikacji można przeglądać z satysfakcją.
        Aktualnie kończę drugi rok studiów na Politechnice Warszawskiej o kierunku automatyka robotyka ze specjalizacja informatyka przemysłowa co dało mi sposobność
        obycia się z wieloma technologiami, jestem również w trakcie kursu firmy Microsoft "Software Development Fundamentals". Chciałbym podjąć swoją pierwszą prace junior developera.<br />
        Zapraszam do wspóprcy!

    </h2>
</div>
