@model MyStoreDomain.Entities.CVModel
@{
    ViewBag.Title = "CV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-9 ColorCSSStatic" style="height:850px;">
    <div>
        @using (Html.BeginForm())
        {
        @Html.ValidationSummary() @*show errors *@
        <h3> Podaj dane, prześle CV jak tylko odczytam wiadomość</h3>
        <div style="margin-top:100px;">
            <leabel >Imię*</leabel><br />
            @Html.TextBoxFor(x => x.Name, null, new { @class = "write" })<br />

            <leabel > Nazwisko* </leabel><br />
            @Html.TextBoxFor(x => x.SurName, null, new { @class = "write" })<br />

            <leabel>Email* </leabel><br />
            @Html.TextBoxFor(x => x.Email, null, new { @class = "write" })<br />

            <input id="zatwierdz" type="submit" value="Wyslij">

        </div>
        }
    </div>

</div>


