


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dziekuje</title>
</head>
<body class="text-center">
    <h2>Dziękuję</h2>
    <h4>Odpiszę natychmiast kiedy przeczytam widomość.</h4>
   
</body>
</html>
