
@{
    ViewBag.Title = "WatIOffer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-lg-9 ColorCSSStatic   hidden-xs " style="height:850px; position:static">
   <h1>Co oferuje</h1><br/>

    <h2 style="line-height:60px;">
        Dobra znajomość:<br />  CSS3, Html5, Bootstrap,<br/> C#, C++, ASP.NET MVC, WebForms,<br/> Github, Ninject, Moq, Entity Framework, LINQ, testy jednostkowe,PayPal SDK, JSON, Log4net.
        <br/><br/>Posiadam podstawową znajomość:<br/> Javascript, JQuery ale chętnie się ich poduczę.
    </h2>

</div>

<div class="col-lg-9 ColorCSSStatic hidden-lg hidden-md  hidden-sm" style="height:1300px; position:static">
    <h1>Co oferuje</h1><br />

    <h2 style="line-height:60px;">
        Dobra znajomość:<br />  CSS3, Html5, Bootstrap,<br /> C#, C++, ASP.NET MVC, WebForms,<br />Github, Ninject, Moq, Entity Framework, LINQ, testy jednostkowe,PayPal SDK, JSON, Log4net.
        <br /><br />Posiadam podstawową znajomość:<br /> Javascript, JQuery ale chętnie się ich poduczę.
    </h2>

</div>