<?xml version="1.0" encoding="utf-8"?>
<!--
Ten plik jest wykorzystywany przez proces publikowania/pakowania projektu sieci Web. Możesz dostosować zachowanie tego procesu
 poprzez edycję tego pliku MSBuild. Aby dowiedzieć się więcej o tym działaniu, odwiedź stronę https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9d29b12e-e6c6-4985-b512-fe179b54f2af/resourcegroups/GrupaZasobow/providers/Microsoft.Web/sites/MyStoreJedrysiak</ResourceId>
    <ResourceGroup>GrupaZasobow</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mystorejedrysiak.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mystorejedrysiak.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MyStoreJedrysiak</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MyStoreJedrysiak</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DbItemsContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:mvc5mstoredby.database.windows.net,1433;Initial Catalog=MyStoreJedrysiak_db;User ID=hanibal5@mvc5mstoredby;Password=Civilization4" Name="Data Source=tcp:mvc5mstoredby.database.windows.net,1433;Initial Catalog=MyStoreJedrysiak_db;User Id=hanibal5@mvc5mstoredby;Password=Civilization4" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyStoreDomain.Concrete.DbItemsContext, MyStoreDomain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DbItemsContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mvc5mstoredby.database.windows.net,1433;Initial Catalog=MyStoreJedrysiak_db;User Id=hanibal5@mvc5mstoredby;Password=Civilization4</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>