<?xml version="1.0" encoding="utf-8"?>

<configuration>

  
<paypal>
<settings>
  <add name="mode" value="sandbox" />
  <add name="connectionTimeout" value="360000" />
  <add name="requestRetries" value="1" />
  <add name="clientId" value="AbWKBG9WcNWBGIctYw2zPM4UmJIjM2uAJlRuREwULx10l6J0eG3UlC1XQJEzTCEeBJnrOf_qUXr5KOTT" />
  <!---from paypala ID-->
  <add name="clientSecret" value="EEIjU7V6O0pgtVTH3YuKtCvRHgU8B4YsdFmcu1i4jtGJq-5tR4OIBHdw9FNq7vkRhWU-tkC5lF3oD4hv" />
  <!---from paypal secret-->
</settings>
  </paypal>
</configuration>